<div class="cBx2">
    <h2 class="spcr-b">Upcoming Camps</h2>

    <table summary="Upcoming Camp Dates" class="tblStyle">
    <thead>
        <tr>
            <th>Date</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
            <tr class="fill">
                <td>{{ event.startsAt|date('m.d.y') }}</td>
                <td><a href="{{ event | pd_link }}">{% if event.location %}{{ event.location }}{% else %}Online{% endif %}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No upcoming camps</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
