<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script type="text/javascript" src="/themes/marketingcamp/spoutlet/js/gmaps_custom.js"></script>

<div id="content-header">
    <div id="row-1" class="std_2col">
        <div id="rotator-wrapper">
            <div id="rotator">
                {% render "SpoutletBundle:Default:banner" %}
            </div>
        </div>

        {% render "SpoutletBundle:Default:groupsMap" %}
    </div>
</div>
