{% extends 'UserBundle::accountLayout.html.twig' %}

{% block title %}{{ "platformd.account_page.account.welcome_to_control" | trans }}{% endblock %}


{% block content %}
<div class="std_1col">
    <div class="pad">
        <h2 id="welcomeControlPanel">{{ "platformd.account_page.account.welcome_to_control" | trans({
            "%username%" : app.user.username
        }) }}</h2>

        <p>
            Welcome to MarketingCamp. This is your account page, where you can view and manage all of your groups and events.
        </p>
    </div>
</div>

<div class="clear"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'SpoutletBundle:Account:_css_assets.html.twig' %}
{% endblock %}
