.article-content .article-image {
    float: left;
    margin: 12px 24px 12px 0;
}

.article-content img {
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.article-content p {
    margin: 0 0 12px;
}

.article-content ol,
.article-content ul {
    margin: 0 0 12px;
    line-height: 1.714285714;
}

.article-content ol {
    list-style: decimal outside;
}

article.news-item {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 32px;
}
